@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');


*{
    font-family: 'Sora';

}


/* whole page starts here */
.landing-page{
    display: flex;
    flex-direction: row;
}

.blue-part{
    height: 100vh;
    width: 50%;
    background: rgb(45, 13, 255);
    border-radius: 10px;
    color: white;
}

h3{
    font-weight: 400;
}

h1{
    font-weight: 500;
}

.para-part{
    font-weight: 200;
    color: rgb(191, 184, 184);
}


/* Card inside the Card-div */
.card-div{
    height: 13vh;
    width: 50%;
    background: rgb(26, 0, 220);
    border-radius: 10px;

}

.card-para{
    font-size: 12px;
    font-weight: 300;
    color: rgb(202, 199, 199);
}

/* image in card */
img{
    height: 10px;
    width: 10px;
}